// Specific CSS for your home-page
.header{
  background-position:top center;
  background-image: asset-url("krenty-banner");
  height: 500px;
  background-size: cover;
  color: $lila;
  margin-top: -18px;

  p {
    width: 40%;
    font-size: 24px;
  }

  .btn {
    color: $off-white;
    background-color: $pink;
  }
}

.about {
  width: 50%;
  text-align: center;
  margin-top: 100px ;
  margin-bottom: 100px ;
}
