// Specific CSS for your home-page
.header{
  background-position:top center;
  background-image: asset-url("krenty-banner");
  height: 500px;
  background-size: cover;
  color: $lila;
  margin-top: -18px;
  overflow-x: hidden;

  p {
    width: 40%;
    font-size: 24px;
  }

  .btn {
    color: $off-white;
    background-color: $pink;
    transition: 0.3s ease;
    &:hover {
      background-color: $lila;
    }
  }

  .bright {
    color: $off-white;
    background-color: #fa3a7a83;
  }
}


.about {
  width: 50%;
  text-align: center;
  margin-top: 100px ;
  margin-bottom: 100px ;
}

.custom-shape-divider-bottom-1692718690 {
  position: relative;
  bottom: 106px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692718690 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692718690 .shape-fill {
  fill: #FDFDFD;
}
