    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <%= image_tag "krenty-logo-zugeschnitten-rosa.png", alt: "krenty", width: 200 %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
         <% if user_signed_in? %>
            <li class="nav-item-search" data-controller="searchbar">
              <form class="d-flex d-none transition-form" action="/products" method="get" data-searchbar-target="togglableElement">
                <input class="form-control me-2" type="search" placeholder="Search" name="query" aria-label="Search">
                <button class="astext"type="submit"><a class="nav-link nav-item-search"><i class="fa-solid fa-magnifying-glass"></i></a></button>
              </form>
              <a class="nav-link nav-item-search" data-action="click->searchbar#toggle" data-searchbar-target="originalLink"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>
            <li class="nav-item-buggy">
              <a class="nav-link" href="/products"><i class="fa-solid fa-baby-carriage"></i></a>
            </li>
            <li class="nav-item-heart">
              <a class="nav-link" href="/my-favorites"><i class="nav-dropdown-heart fa-solid fa-heart"></i></a>
            </li>
            <li class="nav-item dropdown">
              <div class="d-flex full-width align-items-center dropdown-toggle" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "rounded-circle mr-3", :gravity=>"face", :height=>40, :width=>40, :crop=>"thumb" %>
                <% else %>
                  <%= image_tag "default_user_profile_pic.jpg", alt: "default image", width: 40, height: 40, class: "rounded-circle mr-3" %>
                <% end %>
              </div>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my-products"><i class="fa-solid fa-baby-carriage"></i> My products</a>
                <a class="dropdown-item" href="/my-favorites"><i class="fa-solid fa-heart"></i> My favorites</a>
                <a class="dropdown-item" href="/profile"><i class="fa-solid fa-user"></i> My profile</a>
                <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out"><i class="fa-solid fa-right-from-bracket"></i>  Logout</a>
              </div>
            </li>
          <% else %>
            <li class="nav-item-search">
              <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>
            <%= link_to "Login", new_user_session_path, class: "btn-pink-login" %>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
