t<h1>Welcome to Krenty!</h1>
<h2>The online heaven for parents looking to buy and sell gently-used kids' supplies.</h2>


<h2>About Krenty</h2>
<p> We understand that parenting is a journey of growth,
    and with that comes the need for practicality and sustainability.
    Our platform is more than just a marketplace;
    it's a community where parents can come together to give new life to pre-loved items,
    while also making parenting more affordable,
    convenient, and environmentally conscious.</p>
