.navbar-lewagon {
  justify-content: space-between;
  background: $lila;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.container-fluid{
  padding: 0 30px;
}

.nav-link {
  color: $rosa;
}

.dropdown-menu {
  background-color: $rosa;
  min-width: 0;
}

.dropdown-item {
  color: $light-black;
  text-align: left;
  color: $lila;
}

.dropdown-item i {
  font-size: 13px;
  margin: 0 5px 0 0;
  color: $lila;
}

.nav-dropdown-heart {
  padding: 0 15px 0 0;
}

.dropdown-toggle::after {
  content: none;
}

.nav-item-search a:hover  {
    color: $pink;
}

.nav-item-buggy a:hover {
  color: $pink;
}

.nav-item-cart a:hover {
  color: $pink;
}
.nav-item-heart a:hover {
  color: $pink;
}

.transition-form {
  transition: 0.5s ease-in;
  left: 0;
}
