ul {
    list-style-type: none;
}

.button-edit {
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
}


.user-info {
    margin-top: auto;
}

.user-info-right-left {
    margin-left: 150px;
    margin-top: 30px;
}

.user-info-right-right {
    margin-top: 30px;
}

.content {
    margin-top: 40px;
}