// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/footer";
@import "pages/index";

h1{
  font-weight:400 ;
  font-size: 36;
}
h2{
  font-weight: 300;
  font-size: 28;
}

p{
  font-weight: 300;
  font-size: 20;
}
